Templates(
    entities: [
        // ======================= Regular Items ==========================
        Template(
            entity_type: Item,
            name: "Strong Healing Potion",
            glyphs: [16],
            levels: [1, 2],
            provides: Some([("Healing", 60)]),
            frequency: 2,
        ),
        Template(
            entity_type: Item,
            name: "Weak Healing Potion",
            glyphs: [17],
            levels: [0, 1],
            provides: Some([("Healing", 30)]),
            frequency: 3,
        ),

        // ======================== Chest Items ============================
        Template(
            entity_type: ChestItem,
            name: "Dungeon Map",
            glyphs: [],
            levels: [0, 1, 2],
            provides: Some([("DungeonMap", 0)]),
            frequency: 1,
        ),
        Template(
            entity_type: ChestItem,
            name: "Lantern",
            glyphs: [],
            levels: [0, 1, 2],
            provides: Some([("ImproveFov", 12)]),
            frequency: 1,
        ),
        Template(
            entity_type: ChestItem,
            name: "Ring of Strength",
            glyphs: [],
            levels: [0, 1, 2],
            provides: Some([("ImproveDamage", 10)]),
            frequency: 1,
        ),
        Template(
            entity_type: ChestItem,
            name: "Ring of Dexterity",
            glyphs: [],
            levels: [0, 1, 2],
            provides: Some([("ImproveDefense", 10)]),
            frequency: 1,
        ),
        Template(
            entity_type: ChestItem,
            name: "Fog Cloak",
            glyphs: [],
            levels: [0, 1, 2],
            provides: Some([("ReduceVisibility", 4)]),
            frequency: 1,
        ),
        Template(
            entity_type: ChestItem,
            name: "Monster Pendant",
            glyphs: [],
            levels: [0, 1, 2],
            provides: Some([("CanSeeEnemies", 0)]),
            frequency: 1,
        ),

        // ========================== Weapons ==============================
        Template(
            entity_type: Item,
            name: "Rusty Sword",
            glyphs: [19],
            levels: [0],
            frequency: 1,
            damage: Some(10),
        ),
        Template(
            entity_type: Item,
            name: "Shiny Sword",
            glyphs: [20],
            levels: [1, 2],
            frequency: 1,
            damage: Some(20),
        ),
        Template(
            entity_type: Item,
            name: "Huge Sword",
            glyphs: [21],
            levels: [2],
            frequency: 1,
            damage: Some(40),
        ),

        // =========================== Armor ===============================
        Template(
            entity_type: Item,
            name: "Leather Armor",
            glyphs: [23],
            levels: [0],
            frequency: 1,
            defense: Some(10),
        ),
        Template(
            entity_type: Item,
            name: "Chain Mail",
            glyphs: [24],
            levels: [1, 2],
            frequency: 1,
            defense: Some(20),
        ),
        Template(
            entity_type: Item,
            name: "Plate Mail",
            glyphs: [25],
            levels: [2],
            frequency: 1,
            defense: Some(40),
        ),

        // ========================== Enemies ==============================
        Template(
            entity_type: Enemy,
            name: "Imp",
            glyphs: [48, 49, 50],
            levels: [0, 1],
            hp: Some(20),
            frequency: 5,
            damage: Some(25),
            defense: Some(5),
            fov: Some(5),
        ),
        Template(
            entity_type: Enemy,
            name: "Ghost",
            glyphs: [51, 52, 53, 54],
            levels: [0, 1],
            hp: Some(15),
            frequency: 4,
            damage: Some(20),
            defense: Some(12),
            fov: Some(6),
        ),
        Template(
            entity_type: Enemy,
            name: "Skeleton",
            glyphs: [58, 59, 60],
            levels: [1, 2],
            hp: Some(30),
            frequency: 5,
            damage: Some(45),
            defense: Some(5),
            fov: Some(5),
        ),
        Template(
            entity_type: Enemy,
            name: "Spectre",
            glyphs: [61, 62, 63],
            levels: [2],
            hp: Some(50),
            frequency: 4,
            damage: Some(30),
            defense: Some(18),
            fov: Some(6),
        ),
        Template(
            entity_type: Enemy,
            name: "Orc",
            glyphs: [55, 56, 57],
            levels: [2],
            hp: Some(70),
            frequency: 3,
            damage: Some(70),
            defense: Some(20),
            fov: Some(4),
        ),
    ],
)
