Templates(
    entities: [
        // ========================== Items ==============================
        Template(
            entity_type: Item,
            name: "Healing Potion",
            glyphs: [16],
            levels: [0, 1, 2],
            provides: Some([("Healing", 6)]),
            frequency: 2,
        ),
        Template(
            entity_type: Item,
            name: "Weak Healing Potion",
            glyphs: [16],
            levels: [0, 1, 2],
            provides: Some([("Healing", 2)]),
            frequency: 2,
        ),
        Template(
            entity_type: Item,
            name: "Dungeon Map",
            glyphs: [17],
            levels: [0, 1, 2],
            provides: Some([("MagicMap", 0)]),
            frequency: 1,
        ),

        // ========================== Weapons ==============================
        Template(
            entity_type: Item,
            name: "Rusty Sword",
            glyphs: [19],
            levels: [0, 1, 2],
            frequency: 1,
            base_damage: Some(1),
        ),
        Template(
            entity_type: Item,
            name: "Shiny Sword",
            glyphs: [20],
            levels: [0, 1, 2],
            frequency: 1,
            base_damage: Some(2),
        ),
        Template(
            entity_type: Item,
            name: "Huge Sword",
            glyphs: [21],
            levels: [1, 2],
            frequency: 1,
            base_damage: Some(3),
        ),

        // ========================== Enemies ==============================
        Template(
            entity_type: Enemy,
            name: "Imp",
            glyphs: [48, 49, 50],
            levels: [0, 1],
            hp: Some(2),
            frequency: 3,
            base_damage: Some(2),
        ),
        Template(
            entity_type: Enemy,
            name: "Ghost",
            glyphs: [51, 52, 53, 54],
            levels: [0, 1, 2],
            hp: Some(4),
            frequency: 2,
            base_damage: Some(1),
        ),
        Template(
            entity_type: Enemy,
            name: "Orc",
            glyphs: [55, 56, 57],
            levels: [2],
            hp: Some(6),
            frequency: 1,
            base_damage: Some(4),
        ),
        Template(
            entity_type: Enemy,
            name: "Skeleton",
            glyphs: [58, 59, 60],
            levels: [1, 2],
            hp: Some(3),
            frequency: 3,
            base_damage: Some(3),
        ),
        Template(
            entity_type: Enemy,
            name: "Spectre",
            glyphs: [61, 62, 63],
            levels: [2],
            hp: Some(6),
            frequency: 2,
            base_damage: Some(2),
        )
    ],
)
